{% extends "main/base.html" %}

{% block title %}
LOGIN
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <form method="post", class="form-group"> 
    {% csrf_token %}
    {{ form|crispy }}
    <p>Don't have an account? Create one <a href="/register">here</a></p>
    <p><a href="{% url 'password_reset' %}">reset password</a></p>
    <button type="submit" class="btn btn-success">Login</button>
  </form>
{% endblock %}