{% extends 'main/base.html' %}

{% block title %}
Reset Password
{% endblock %}

{% block content %}
  <h3>Forgot password</h3>
  <form method="post", class="form-group">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
{% endblock %}