{% extends "main/base.html" %}
{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
  <form method="post", class="form-group"> 
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Register</button>
  </form>
{% endblock %}